# Telegram Bot token
BOT_TOKEN=
# Optional admin Telegram user id for management commands
ADMIN_USER_ID=

# Donor channel or group с ID, откуда бот будет читать новые посты
DONOR_CHAT_IDS=

# Default community target channels/groups (comma separated chat IDs)
MAIN_CHAT_IDS=
MAIN_FOOTER_TEXT=💗 С нас ключ - с тебя реакция:\n🔥 — Ключи - огонь | 👍— Спасибо
MAIN_HELP_LINK=https://t.me/stretten/8
MAIN_ADDITIONAL_LINKS=✅ Премиум VPN (https://t.me/vpngranitbot)\n💬 Бесплатные прокси для Telegram (https://t.me/stretten/123)\n💫 Купить Telegram Stars (https://t.me/strettenstars_bot)\n🚀 Забустить (https://t.me/boost/stretten)

# Example second community
INCY_CHAT_IDS=
INCY_FOOTER_TEXT=💗 С нас ключ - с Вас реакция:\n🔥 — Ключи - работают | 👍— От души
INCY_HELP_LINK=https://t.me/free_incy/5
INCY_ADDITIONAL_LINKS=✅ Премиум VPN (https://t.me/vpngranitbot)\n💬 Бесплатные прокси для Telegram (https://t.me/stretten/123)\n💫 Купить Telegram Stars (https://t.me/strettenstars_bot)\n🚀 Забустить (https://t.me/boost/stretten)

# Add more communities the same way: COMMUNITYCHATIDS, COMMUNITY_FOOTER_TEXT, COMMUNITY_HELP_LINK, COMMUNITY_ADDITIONAL_LINKS
